<div style="border: 2.5px solid #0e5a91f2; padding: 15px; margin: 10px 0; border-radius: 8px; width: 100%; display: block; background-color: #f8f8f8; text-align: left;">
    <a href="{{ .Get "link" }}" target="_blank" style="text-decoration: none; color: black; display: block;">
        <strong style="font-size: 20px; display: block;">{{ .Get "title" }}</strong>
        <small style="font-size: 16px; display: block;">{{ .Get "author" }}</small>
        <em style="font-size: 14px; color: gray; display: block;">{{ .Get "journal" }}</em>
    </a>
</div>